#pragma code_page(65001)
#include <Resources/mfc_rc.h>
#include "afxres.h"

IDD_MFC_TEST DIALOGEX 0, 0, 220, 120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MFC测试对话框"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT "这是一个MFC对话框示例！\r\n基于ARX二次开发", IDC_STATIC, 10, 10, 200, 30, SS_CENTER
    DEFPUSHBUTTON "确定", IDOK, 85, 80, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 140, 80, 50, 14
END

IDD_MFC_ARX_UI DIALOGEX 0, 0, 240, 140
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ARX UI 对话框"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT "这是一个基于 CZcUiDialog 的 ARX UI 示例", IDC_STATIC, 10, 10, 220, 14, SS_LEFT
    LTEXT "输入文本:", IDC_STATIC, 10, 32, 50, 12
    EDITTEXT IDC_ARXUI_EDIT_INPUT, 70, 30, 150, 14, ES_AUTOHSCROLL
    CONTROL "在命令行打印", IDC_ARXUI_CHECK_CMD, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 70, 50, 90, 12
    PUSHBUTTON "显示内容", IDC_ARXUI_BTN_SHOW, 70, 72, 60, 14
    DEFPUSHBUTTON "确定", IDOK, 140, 72, 40, 14
    PUSHBUTTON "取消", IDCANCEL, 185, 72, 40, 14
END